<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.framework.auth.dao.AuthRolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.leo.framework.auth.model.AuthRolePermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="AUTH_ROLE_ID" jdbcType="BIGINT" property="authRoleId" />
    <result column="AUTH_PERMISSION_ID" jdbcType="BIGINT" property="authPermissionId" />
  </resultMap>
</mapper>